<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>9lyrix</title>

    <!-- Bootstrap core CSS -->
    <link href="/statics/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/statics/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- &lt;!&ndash; HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;
    &lt;!&ndash;[if lt IE 9]>
    <script src="statics/js/html5shiv.js"></script>
    <script src="statics/js/respond.min.js"></script>-->


    <![endif]-->
</head>

<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Explore Lyrics</a></li>
        </ul>
        <h3 class="text-muted">9lyrix - Strictly 9ja lyrics </h3>
    </div>

    <div class="jumbotron">
        <h1>9lyrix</h1>

        <div></div>
        <div></div>
        <p class="lead">9lyrix is committed to bringing you lyrics to Nigerian songs, always</p>

    </div>

    {% block content %}

    <div id="lyricsForm">
        <form class="form-horizontal">
            <fieldset>
                <div class="alert alert-success">Please enter details of a song for which you want to add lyrics</div>
                <div class="control-group" style="font-family: 'Ubuntu', sans-serif;">
                    <label class="control-label" for="title">Song Title:</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge" name="title" id="title"
                               placeholder="The title of the song" required="True"/>
                    </div>
                </div>
                <div class="control-group" style="font-family: 'Ubuntu', sans-serif;">
                    <label class="control-label" for="artist">Artist(s):</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge" name="artist" id="artist"
                               placeholder="The name of artists" required="True"/>
                    </div>
                </div>
                <div class="control-group" style="font-family: 'Ubuntu', sans-serif;">
                    <label for="year" class="control-label">Year of release:</label>

                    <div class="controls">
                        <input type="number" class="input-xlarge" max="2013" min="1900" name="year" id="year"
                               value="2013" required="True"/>
                    </div>
                </div>
                <div class="control-group" style="font-family: 'Ubuntu', sans-serif;">
                    <label for="is_remix" class="control-label">Is this song a remix?</label>

                    <div class="controls">
                        <select id="is_remix" name="is_remix" required>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                   <div class="control-group" style="font-family: 'Ubuntu', sans-serif;">
                    <label class="control-label" for="lyrics">Lyrics:</label>

                    <div class="controls">
                        <textarea class="input-xlarge" name="artist" id="lyrics" rows="15"
                               placeholder="The Lyrics of the song" required="True"></textarea>
                    </div>
                </div>
                <div class="control-group" style="font-family: 'Ubuntu', sans-serif;">
                    <div class="controls">
                        <input type="button" class="btn btn-success" id="submitForm" value="Add Lyrics"/>

                    </div>
                </div>

            </fieldset>
        </form>
        <!--feedback for the form actions -->
            <div class="alert alert-info" id="ajaxResult" hidden="true"></div>
            <div id="submitSuccess" class="alert alert-success" hidden="true">
                The lyrics were successfully added &middot; Hit F5 to refresh your browser
            </div>
            <div id="submitFail" class="alert alert-danger" hidden="true">
                Unable to add lyrics...there may be a problem with your connection
            </div>
    </div>
    {% endblock %}
    <div class="footer">
        <p>&copy; 9lyrix 2013 &middot; Made with love in 9ja </p>
    </div>

</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/statics/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="/statics/js/app.js"></script>

</body>
</html>
